<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <script>
        function add_item() {
            $("#items_list").append('<li><p><input name="item[]" type="text" value="username"></p></li>');
        }

        function get_items() {
            var items = [];
            $("ol#items_list > li > p > input").each(function (index, element) {
                items.push($(element).val());
            });
            return items;
        }

        function mix(items) {
            var mixed_items = [];
            items.forEach(function (item, i) {
                mixed_items.splice(Math.floor(Math.random() * i), 0, item)
            });
            return mixed_items;
        }

        function hide(elem, duration) {
            elem.animate({opacity: 0.0}, duration);
            setTimeout(function(){elem.css("visibility", "hidden")}, duration);
        }
        function mix_queue() {
            var inputs = $("ol#items_list > li > p > input");
            mix(get_items()).forEach(function (value, i) {
                $(inputs[i]).val(value)
            });
            hide($("#btn-rand"), 1000);
        }
    </script>
</head>
<body>
<script>
    $(document).keypress(
            function (event) {
                if (event.which == '13') {
                    event.preventDefault();
                }
            }
    );
</script>
<div id="logo"><a href="/"><h1>IQueue</h1></a></div>
<form action="/save" method="get">
    <h2>Create queue</h2>
    <div id="main-panel">
        <button id="btn-rand" class="btn btn-success circle btn-lg btn-top" name="mix" value="Mix"
                data-disable-with="Mix" type="button" onclick="mix_queue()">
            <i class="glyphicon glyphicon-random"></i>
        </button>
        <input id="queue_name" size="10" name="queue_name" type="text" value="Name"
               style="text-align: center; font-size: xx-large">
        <button id="btn-save" class="btn btn-success circle btn-lg btn-top" name="commit" value="Save"
                data-disable-with="Save"
                type="submit">
            <i class="glyphicon glyphicon-ok"></i>
        </button>
    </div>
    <div id="items" class="rounded-list">
        <table border=0 class="rounded-list" style="width: 150px">
            <tr>
                <td>
                    <ol id="items_list">
                    </ol>
                </td>
            </tr>
        </table>
    </div>
    <script>add_item()</script>
    <div>
        <button id="btn-inc" class="btn btn-warning circle btn-md" type="button" onclick="add_item()">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
    </div>
</form>
</body>
</html>