<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stylesheets/main.css">
</head>
<body>
<div id="logo"><a href="/"><h1>IQueue</h1></a></div>
<div id="main-panel">
    <h1>Queues</h1>
</div>
<div id="items" class="rounded-list">
    <table border=0 class="rounded-list" style="width: 150px">
        <tr>
            <td>
                <ol id="items_list">
                {{range .}}
                    <li><p><a class="queue" href="/show?queue_id={{.Id}}">{{.Name}}</a></p></li>
                {{end}}
                </ol>
            </td>
        </tr>
    </table>
</div>
<div>
    <a id="btn-inc" class="btn btn-warning circle btn-md" type="button" href="/create">
        <i class="glyphicon glyphicon-plus"></i>
    </a>
</div>
</body>
</html>