{{ define "content" }}

<script>
    function create_item() {
        var username = prompt("Enter username", "");
        window.location.replace("/push?queue_id=" + {{ .Queue.Id }} +"&username=" + username);
    }

    function remove() {
        if (!confirm("Are you sure?")) return;
        window.location.replace("/remove?queue_id=" + {{ .Queue.Id }} +"");
    }

    function pop() {
        window.location.replace("/pop?queue_id=" + {{ .Queue.Id }} +"");
    }
</script>
<div id="main-panel">
    <button id="btn-pop" class="btn btn-success circle btn-lg btn-top" name="pop" value="Pop"
            data-disable-with="Pop" type="button" onclick="pop()">
        <i class="glyphicon glyphicon-chevron-up"></i>
    </button>
    <h2 style="display: inline">{{ .Queue.Name }}</h2>
    <button id="btn-rm" class="btn btn-success circle btn-lg btn-top" name="remove" value="Remove"
            data-disable-with="Remove"
            type="button" onclick="remove()">
        <i class="glyphicon glyphicon-trash"></i>
    </button>
</div>
<div id="items" class="rounded-list">
    <table border=0 class="rounded-list" style="width: 150px">
        <tr>
            <td>
                <ol id="items_list">
                {{ range .Items }}
                    <li><p>{{ .UserName }}</p></li>
                {{ end }}
                </ol>
            </td>
        </tr>
    </table>
</div>
<div>
    <button id="btn-inc" class="btn btn-warning circle btn-md" type="button" onclick="create_item()">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
</div>

{{ end }}